
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
traces/
screenshots/
videos/
allure-results/
allure-report/
reports/
*.log
*.tmp
.env
.vscode/
.idea/
*.iml